#logo{
    width: 100%;
    margin: 0px;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #141517;
    font-family: 'Major Mono Display', monospace;
}
#main{
    background-color: #141517;
}
#games{
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
    border-color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    color: whitesmoke;
}
.column {
    border: solid;
    margin: 3px;
    border-color: whitesmoke;
  float: left;
  width: 29.8%;
  padding: 5px;
}
h3{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-family: 'Major Mono Display', monospace;
    font-size: 24px;
}
#contacts{
    margin-bottom: 20dp;
    border: solid;
    border-color: whitesmoke;
}
hr{
    margin-bottom: 20px;
}
#nav {
  list-style-type: none;
  margin: 0;
    width: 100%;
    top: 0;
    position: fixed;
  padding: 0;
  overflow: hidden;
  background-color: #222;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#GP{
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    display: block;
}
#bcon{
    position: relative;
}
#A{
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    width: 35%;
    display: block;
}
h4{
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
    font-family: 'Major Mono Display', monospace;
}